@page
@model WoWRazorPage.Pages.Blizzard.DataModel
@{
    ViewData["Title"] = "Data";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="@Url.Content("~/css/CollapseList.css")" rel="stylesheet" type="text/css" />
</head>
<div>
    <a button class="btn btn-default" href="/blizzard/home"> Search Again</a>
</div>
<div>
    @if (Model.zones.Any())
    {
        <div class="list-group list-group-root well">
            @foreach (var zone in Model.zones)
            {
                <a href="#z-@zone.Id" class="list-group-item" data-toggle="collapse">
                    <i class="glyphicon glyphicon-chevron-right"></i>@zone.Name - @zone.Bosses.Sum(boss => boss.Items.Count())
                </a>
                <div class="list-group collapse" id="z-@zone.Id">
                    @foreach (var boss in zone.Bosses)
                    {
                        <a href="#b-@boss.Id" class="list-group-item" data-toggle="collapse">
                            <i class="glyphicon glyphicon-chevron-right"></i>@boss.Name - @boss.Items.Count()
                        </a>
                        <div class="list-group collapse" id="b-@boss.Id">
                            @foreach (var item in boss.Items)
                    {
                                <a href="https://wowhead.com/item=@item.id&bonus=@item.bonusId" class="list-group-item">  @item.name - @item.PercentImprovement() </a>
                            }
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://wow.zamimg.com/widgets/power.js"></script>
<script>
    $(document).ready(function () {
        $('.glyphicon').click(function () {
            $(this).toggleClass("glyphicon-chevron-down").toggleClass("glyphicon-chevron-right");
        });
    });
</script>