@page
@model WoWRazorPage.Pages.Blizzard.HomeModel
@{
    ViewData["Title"] = "Home";
}

<h2>Home</h2>

<form method="post" asp-route-name="Peevo" asp-route-realm="Emerald Dream">
    <button class="btn btn-default"> ON POST</button>
</form>
@if (@Model.zones.Any())
{
    @for (int i = 0; i < Model.zones.Count(); i++)
    {
        <ul>
            <li>
                @Model.zones[i].name

                @for (int j = 0; j < Model.zones[i].bosses.Count(); j++)
                {
                    <ul>
                        <li>
                            @Model.zones[i].bosses[j].name
                            @for (int k = 0; k < Model.zones[i].bosses[j].items.Count(); k++)
                            {
                                <ul>
                                    <li>
                                        @Model.zones[i].bosses[j].items[k].name - @Model.zones[i].bosses[j].items[k].statImprovement
                                    </li>
                                </ul>
                            }                            
                        </li>
                    </ul>
                }
            </li>
        </ul>
        }
    }
